body{
    background-color:black;
  
}
.header {
    /* background-image:  url(img/clouds.png); */
    background: linear-gradient(180deg, rgba(0 0 0 / 0.25%) 15%, #000000 85%), url(https://github.com/Aleks9080/Stream_Anime/blob/main/img/clouds.png?raw=true) no-repeat center center / cover;
    min-height: 100vh;
    background-size: cover;
}
p{
    color: #8a8787;
    font-size: 27px;
}
.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1610px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    color:  #FFFFFF;
}
/* navigation */

.row_nav {
    padding-top: 106px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo-form {
    display: flex;
}
.text_nav {
    margin-left: 75px;
}
.navigation {
    align-items: center;
    display: flex;
}
.navigation li{
    margin-left: 75px;
}

.btn_login {  
    display: inline;
    background: linear-gradient(99.09deg, #FFBB54 0%, #FF8754 100%);
    border-radius: 25px;
    color: black;
    padding: 15px 33px;
}
.navigation a:hover{
    color: #8a8787;
    transition: 0.4s;
}
.navigation img:hover{
    transform: scale(1.3);
}
.stream_anime{
    margin-top: 200px;
}
.row_anime {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}
.stream_anime h2{
   
    background: linear-gradient(92.51deg, #00F0FF 0.06%, #CB5CFF 100.03%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 597.2px;
    font-size: 50px;
    margin-bottom: 50px;
}
.btn_sign_up {
    background: linear-gradient(99.09deg, #FFBB54 0%, #FF8754 100%);
    border-radius: 25px;
    color: black;
    padding: 10px 20px;

}

.btn_sign_up:hover,
.btn_login:hover{
    transform: scale(1.1) ;
    transition: 2s;
}
.text_get{
    color: #8a8787;
}
.text_footer{
    color: #8a8787;
    text-align: center;
    margin-top: 160px;
}
.studios{
    max-width: 1115px;
    margin-left: auto;
    margin-right: auto;
}
.row_studios{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.section h2{
    color: #8a8787;
    font-size: 25px;
    margin-top: 240px;
    margin-bottom: 30px;
}
.slider{
    display: flex;
}
.slide{
    margin-right: 50px;
}
.watch_on{
    background: linear-gradient(90.37deg, #CB5CFF 0.06%, #FFBB54 99.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 46px;
    margin-top: 273px;
   
}
.devices {
    max-width: 1334px;
    margin-left: auto;
    margin-right:auto;

}
.laser {
    border-left: 3px solid rgba(128, 29, 173, 0.808) ;   
    /* filter: blur(5px); */
    height: 400px;
}
.row_devices {
    padding-left: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.devices p{
    margin: 97px 0px 78px 78px;
    max-width: 708px;
    font-size: 30px;
 
}
.dll{
    background: linear-gradient(90.26deg, #00FF94 0.03%, #00F0FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 46px;
    margin-top: 173px;
    margin-bottom: 97px;
}

.row_get {
    display: flex;
    justify-content: space-evenly;
}
.to_img img{

    max-width: 250px;
}
.to_img {
    margin-left: 150px;
    display: flex;
    margin-top: 179px;
    margin-bottom: 174px;
}
.row_info_get {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
}
.row_info_get p{
    max-width: 590px;
    font-size: 27px;
    margin-bottom: 84px;
}
.row_info_get span{
    color: white;
}
.laser_2 {
    border-right: 3px solid rgba(12, 209, 94, 0.808) ;
    filter: blur(5px);  
    height: 400px;  
}
.get_img_1{
    position: relative;
    left: -190px;
    top: 100px;
    z-index: 1;
}
.get_img_2{
 position: absolute;
}
.row_info_get img:hover{
    transform: scale(1.2);
    transition: 0.4s;
}
.left_gradient{
    float: left;
    position: absolute;
    width: 300px;
    height: 252px;
    background: rgba(0, 209, 255, 0.75);
    filter: blur(200px);
}
.right_gradient{
    width: 300px;
    height: 252px;
    float: right;
    background: rgba(0, 209, 255, 0.75);
    filter: blur(200px);
}
.plans h3{
    position: relative;
    text-align: center;
    z-index: -1;
    color: white;
    font-size: 50px;
}
.plans p{
    text-align: center;
    margin-top: 20px;
}
.row_pla{
    display: flex;
    flex-direction: column;
}
.plans span{
    text-decoration: underline;
    color: white;
}
.row_plans_price{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price{
    margin-top: 90px;
    float: right;
    gap: 40px;
    margin-bottom: 109px;
    display: flex;
}
.plans_price{
    margin-bottom: 106px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}   
.header_price{
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    background: rgb(255,187,84);
    background: linear-gradient(137deg, rgba(255,187,84,1) 0%, rgba(255,165,84,1) 50%, rgba(255,135,84,1) 100%);
    border-radius: 25px 25px 0 0;
    padding: 32px 128px;
}
.info_price{
    color: black;
    font-size: 20px;
    background: rgb(255,255,255);
    background: linear-gradient(243deg, rgba(255,255,255,1) 0%, rgba(240,240,255,1) 100%);

}
.info_price li{
    display: flex;
    padding-left: 29px;
    margin-top: 14px;
}
.yes_product{
    margin-top: 30px;
}
.noproduct{
    margin-bottom: 20px;
}
.info_price p{
    color: black;
    font-size: 20px;
    margin-left: 20px;
}
.footer_price{
    gap: 50px;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.774);
    background: linear-gradient(243deg, rgba(255,255,255,1) 0%, rgba(240,240,255,1) 100%);
    border-radius: 0 0 25px 25px;
    display: flex;
    align-items: center;
}
.laser_footer{
    height: 4px;
    width: 100%;
    background: rgb(231, 230, 230);
}
.footer_price p{
    color: black;
    font-weight: bold;
}
.dop_price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 191px;
}
.dop_price p{
    display: flex;
    font-size: 20px;
    margin: 0;
    align-items: center;
    gap: 20px;

}
.laser_footer_main{
    width: 100%;
    border:1px solid #8a8787;
    margin-bottom: 170px;
}
